<div *ngFor="let day of forecastList">
    <div class="main">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{ day.dayName }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>Morning Temperature: {{ day.morningTemp }}</p>
                <p>Day Temperature: {{ day.dayTemp }}</p>
                <p>Night Temperature: {{ day.nightTemp }}</p>
                <p>Humidity: {{ day.humidity }}</p>
            </mat-card-content>
            <mat-card-actions>
                <mat-icon>info</mat-icon>
            </mat-card-actions>
        </mat-card>
    </div>
</div>