<div>
    <form class="example-form" [formGroup]="form">
        <mat-form-field class="example-full-width">
            <mat-label>City Name</mat-label>
            <input matInput placeholder="Ex. San Francisco" formControlName="cityName">
        </mat-form-field>
        <button mat-stroked-button color="primary" aria-label="Example icon-button with menu icon"
            (click)="getCityForecast()">
            Search
        </button>
    </form>
</div>
<div>
    <app-forecast-card [city-name]="emitCityNameToChild.asObservable()" (infoClicked)="showForecastInfo($event)">
    </app-forecast-card>
</div>
