.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 20px;
}

.input {
    padding: 10px;
}

.mat-label {
    padding: 10px;
}

.example-full-width {
  width: 50%;
}
